@font-face {
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-family: "OpenSans-Regular";
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-family: "OpenSans-Bold";
  font-weight: 700px;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup-wrp {
  display:none;
  position: fixed;
  width: 100%;
  height: 100%;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.popup {
  width: 390px;
  background-color: #ffffff;
  padding: 52px 32px;
  box-sizing: border-box;
  display:none;
  }

.popup-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-family: "OpenSans-Bold";
  margin-bottom: 27px;
  margin-top: 0px;
}

.popup-title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto 0;
  opacity: 0.4;
  border-bottom: 3px solid #b59f5b;
}

.form-hint {
  font-size: 13px;
  font-family: "OpenSans-Regular";
  display: block;
  
}

.select {
    box-sizing: border-box;  
    display: inline-block;
    /*width: 330px;*/
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 25px;
    
    
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    
    background-image: url("https://Bubka-bob.github.io/mq-diplom/svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    }
 
.field-popup:focus {
  border: 1px solid #b59f5b;
}

.field-textarea {
  font-size: 13px;
  color: #000000;
  font-family: "OpenSans-Regular";
  width: 330px;
  height: 131px;
  background-color: #f4f7f6;
  resize: none;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 20px;
}

.field-textarea:focus {
  border: 1px solid #b59f5b;
}

.button-send {
  width: 330px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSans-Bold";
  }

.button-send:hover {
  background-color: #323232;
}

.header {
  width: 100%;
  /*padding-top: 26px;
  padding-bottom: 128px;*/
  background-image: url("https://Bubka-bob.github.io/mq-diplom/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.header:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 128px;
}

.container-menu {
  /*width: 1170px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 0 15px;
}

.header-logo {
  width: 181px;
}

.menu-burger {
  display:none
}

.menu-list {
  display: flex;
}

.menu-list-item {
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  text-align: center;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.container-title {
  display: flex;
  width: 679px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.header-title {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-family: "OpenSans-Bold";
  font-size: 45px;
  line-height: 75px;
}

.trend {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.trend-title {
  /* text-align: center;*/
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-family: "OpenSans-Bold";
  /*margin: 0 0 27px 0;*/
}

.trend-title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto 0;
  opacity: 0.4;
  border-bottom: 3px solid #b59f5b;
}

.trend-container {
 /* max-width: 1660px;*/
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 27px;
  gap: 4px;
  }

.trend-content {
  display: flex;
  align-items: flex-end;
  width: calc(100% / 4 - 3px);
  min-height: 315px;
  position: relative;
  box-sizing: border-box;
  padding: 15px 20px;
  z-index:0;
}

.trend-content::after {
  content: "";
  /*display: block;*/
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.picture1 {
  background-image: url("https://Bubka-bob.github.io/mq-diplom/images/trend1.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.picture2 {
  background-image: url("https://Bubka-bob.github.io/mq-diplom/images/trend2.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.picture3 {
  background-image: url("https://Bubka-bob.github.io/mq-diplom/images/trend3.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.picture4 {
  background-image: url("https://Bubka-bob.github.io/mq-diplom/images/trend4.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.title-content {
  border: 3px solid #b59f5b;
  padding: 40px 35px;
  /*z-index: 2;*/
}

.gallery-text {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.gallery-text:hover {
  color: #b59f5b;
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 63px auto 0;
  padding: 0 15px;
  justify-content: space-between;
} 

.posts {
  width: 62%;/*765px;*/
}

.post {
  display: flex;
  align-items: flex-start;
  /*flex-grow: 2;*/
}

.post:nth-child(n + 1) {
  margin-bottom: 60px;
}

/*.post:nth-child(2n + 1) {
  margin-bottom: 61px;
}*/

.news-image {
  width: 381px;
  display: flex;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card {
  /*width: 396px;*/
  margin: 0 0 0 30px;
}

.tag-list {
  margin-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
}

.tag-list-item {
  list-style-type: none;
}

.tag-link {
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 14px;
}

.tag-link:hover {
  text-decoration: underline;
}

.tag-list-item:nth-child(n + 2) {
  margin-left: 18px;
}

.card-title {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 26px;
}

.card-title:hover {
  text-transform: uppercase;
  color: #b59f5b;
  font-family: "OpenSans-Bold";
}

.card-date {
  font-size: 12px;
  color: #888888;
  font-family: "OpenSans-Regular";
}

.autor {
  font-size: 12px;
  color: #000000;
  font-family: "OpenSans-Bold";
  margin-left: 9px;
}

.card-content {
  /*width: 368px;*/
  margin-top: 45px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-family: "OpenSans-Regular";
}

.card-content-text {
  padding-bottom: 10px;
}

.sidebar {
  width: 270px;/*272px*/
}

.news {
}

.new-posts {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #0f0d0e;
  font-family: "OpenSans-Bold";
  margin: 0 0 27px 0;
}

.new-posts::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto 0;
  opacity: 0.4;
  border-bottom: 3px solid #b59f5b;
}

.new-post {
  display: flex;
  align-items: flex-start;
}

.new-post:nth-child(n + 1) {
  margin-bottom: 22px;
}

.new-image-card {
  width: 70px;
  display: block;
}

.new-card {
  /*width: 180px;*/
  margin-left: 19px;
}

.new-card-title {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.new-card-title:hover {
  color: #b59f5b;
}

.new-card-date {
  /*color: #888888;*/
  font-size: 12px;
  font-family: "OpenSans-Regular";
  opacity: 0.541;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect (0 0 0 0);
  overflow: hidden;
}

.search {
  display: flex;
  margin-top: 59px;
}

.field {
  box-sizing: border-box;
  width: 222px;
  height: 48px;
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  background-color: #f4f7f6;
  border: none;
  padding-left: 17px;
  font-family: "OpenSans-Regular";
}

.field:focus {
  border: 1px solid #b59f5b;
}

.button-search {
  background-image: url("https://Bubka-bob.github.io/mq-diplom/svg/search.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: #b59f5b;
  background-position: center;
  width: 48px;
  border: none;
}

.button-search:hover {
  background-color: #323232;
}

.mailing {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #0f0d0e;
  font-family: "OpenSans-Bold";
  margin: 59px 0 12px 0;
}

.mailing::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto 0;
  opacity: 0.4;
  border-bottom: 3px solid #b59f5b;
}

.email {
  margin-top: 22px;
}

.email-field {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  font-size: 13px;
  opacity: 0.541;
  line-height: 40px;
  color: #000000;
  font-family: "OpenSans-Regular";
  background-color: #f4f7f6;
  border: none;
  padding-left: 17px;
}

.email-field:focus {
  border: 1px solid #b59f5b;
}

.button-email {
  width: 100%;
  height: 48px;
  margin-top: 18px;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 40px;
  font-family: "OpenSans-Bold";
}

.button-email:hover {
  background-color: #323232;
}

.tags {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #0f0d0e;
  font-family: "OpenSans-Bold";
  margin: 58px 0 12px 0;
}

.tags::after {
  content: "";
  display: block;
  width: 67px;
  margin: 9px auto 0;
  opacity: 0.4;
  border-bottom: 4px solid #b59f5b;
}

.tag-aside {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.tag-aside-item {
  list-style-type: none;
  border: 3px solid #eeeeee;
  background-color: rgba(244, 243, 241, 0);
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 4px 14px;
}

.tag-aside-link {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 12px;
}

.tag-aside-item:hover {
  border: 3px solid #b59f5b;
}

.categories {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #0f0d0e;
  font-family: "OpenSans-Bold";
  margin: 50px 0 12px 0;
}

.categories::after {
  content: "";
  display: block;
  width: 67px;
  margin: 10px auto 0;
  opacity: 0.4;
  border-bottom: 4px solid #b59f5b;
}

.categories-item {
  text-decoration: none;
  list-style: none;
  font-family: "OpenSans-Bold";
  color: #000000;
  padding: 10px 0 10px 0;
  margin-bottom: 4px;
  border-bottom: 1px solid #eeeeee;
}

.categories-link {
  align-items: center;
  align-content: space-between;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.categories-link:hover {
  color: #b59f5b;
}

.categories-count {
  font-size: 12px;
  color: #b59f5b;
  font-family: "OpenSans-Bold";
  vertical-align: text-top;
}

.shop {
  max-width: 1200px;
  justify-content: center;
  /*padding: 0 15px;*/
  margin: auto;
  
  }

.shop-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-family: "OpenSans-Bold";
  }

.shop-title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto 0;
  opacity: 0.4;
  border-bottom: 3px solid #b59f5b;
}

.products-container {
  display: flex;
  /*padding: 0 15px;*/
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 70px;
}

.product {
  display: flex;
  justify-content: space-between;
  margin: 26px 0 66px;
  padding: 0 38px;
  gap: 77px;
}

.product-content {
  display: flex;
  flex-direction: column;
  /*align-items: center;
  flex-grow: 1;*/
  width: calc(100% / 3 - 30px);
}

.product-body {
  flex-grow: 1;
  box-sizing: border-box;
  border: 3px solid #b59f5b;
  margin: -35px -23px 0;
  padding: 28px 19px;
}

/*.product__title {
  display: flex;
  flex-direction: column;
  
  }
*/
.subtitle {
  font-size: 20px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  color: #0f0d0e;
  margin: 19px 0 5px;;
  text-decoration: none;
}

.product__description {
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  margin-bottom: 25px;
  }

.product-text {
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 22px;
  color: #b59f5b;
  text-decoration: none;
}

.product-text:hover {
  color: #888888;
}

.product__footer {
  justify-content: space-between;
  display: flex;
  align-items: center;
 /* margin-left: 23px;
  margin-right: 23px;*/
}

.product__prices {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*.prices {
  display: flex;
  flex-direction: column;
}*/

.product__price-value {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  vertical-align: middle;
}

.product__price_old {
  text-decoration: line-through;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  /*margin-bottom: -5px;*/
}

.product__button {
  width: 140px;
  height: 48px;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: #fff;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.product__button:hover {
  background-color: #323232;
}

.footer {
  margin-top: 0px;
  margin-bottom: 44px;
}

.footer-icons {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.articles-socials {
  margin-bottom: 73px;
  background-color: #f4f7f6;
  padding: 34px 0px;
}

.socials {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.socials-item {
  margin-right: 28px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  display: block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-position: center;
  /*margin: 32px 15px;*/
}

.social-icon_dribbble {
  background-image: url("https://Bubka-bob.github.io/mq-diplom/svg/001-dribbble.svg");
}

.social-icon_pinterest {
  background-image: url("https://Bubka-bob.github.io/mq-diplom/svg/002-pinterest.svg");
}

.social-icon_tumblr {
  background-image: url("https://Bubka-bob.github.io/mq-diplom/svg/003-tumblr.svg");
}

.copyright {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: #999999;
  font-family: "OpenSans-Bold";
  font-size: 11px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  
  .header {
    background-image: url("https://Bubka-bob.github.io/mq-diplom/images/banner-bg-tablet.jpg");
    background-position: center;
}
  
  .header-logo {
    width: 158px;
  }
  
  .menu {
    display: none;
  }
  
  .header-container {
    padding: 40px 35px 120px;
  }
  
  .container-title {
    width: 610px;
   }
  
  .header-title {
    font-size: 40px;
    line-height: 55px;
  }
  
  .trend {
    padding-top: 49px;
  }
  
  .trend-title {
    font-size: 18px;
    line-height: 29px;
  }
  
  .trend-container {
    margin-top: 17px;
  }
  
  .trend-content {
    width: calc((100% - 4px)/2);
    /*width: 50%;*/
    min-height: 246px;
  }
  
  .gallery-text {
    font-size: 17px;
    line-height: 22px;
  }
  
  .content {
    padding: 0 34px;
  }
    
  .post {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 34px);
  }
  .card {
    margin-top: 6px;
    margin-left: 0px;
  }
  
  .news-image {
    width: 100%;
  }
  
  .card-title {
    font-size: 17px;
    line-height: 22px;
  }
  
  .shop {
    display: flex;
    margin-top: 14px;
    align-items: center;
    flex-direction: column;
  }
  
  .shop-title {
    font-size: 18px;
  }
  
  .product {
    padding: 0 58px;
    display: flex;
    flex-wrap: wrap;
  }

  .product-content {
    width: calc(50% - 77px);
  }
  
  .subtitle {
    font-size: 17px;
  }
  
  .post:not(:last-child):after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 19px;
    border-bottom: 3px solid #eeeeee;
}
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape){
  .trend-content {
    width: calc((100% - (4px*3))/4);
    min-height: 320px;
}
}
    
@media (max-width: 640px) {
  .header {
    background-image: url("https://Bubka-bob.github.io/mq-diplom/images/banner-mobile.jpg");
    background-position: center;
    min-height: 640px;
}
  .menu-burger {
    align-self: end;
  }
  
  .container-menu {
    flex-wrap: wrap;
    flex-direction: column;
    }
  
  .header-logo {
    width: 269px;
    order: 1;
    }
  
  .menu {
    display: none;
  }
  
  .header-container {
    padding: 34px 15px 210px 15px;
  }
  
  .container-title {
    width: 277px;
    margin: 30px auto 0;
   }
  
  .header-title {
    font-size: 26px;
    line-height: 36px;
  }
  
  .trend {
    padding-top: 44px;
  }
  
  .trend-title {
   font-size: 16px; 
  }
  
  .trend-content {
    width: 100%;
    min-height: 232px;
  }
  
  .content {
    display: block;
    margin-top: 40px;
  }
  
  .posts {
    width: 100%;
    }
  
  .post {
    display: block;
  }
  
  .post:after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 22px;
    border-bottom: 3px solid #eeeeee;
  }
  
  .news-image {
     width: 100%;
  }
  
  .tag-list {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  
 
  .card {
    margin-left: 0;
  }
  
  .card-content {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }
  
  .post:nth-child(n + 1) {
    margin-bottom: 35px;
} 
  
  .sidebar {
    width: 100%;
  }
  
  .new-posts {
    font-size: 16px;    
  }
  
  .mailing {
    font-size: 16px; 
  }
  
  .search-group {
    width: 100%;
  }
  
  .field {
    width: 100%;
  }
  
  .tags {
    font-size: 16px;
  }
  
  .categories {
    font-size: 16px;
  }
    
   
  .shop-title {
    font-size: 16px;
  }
  
  .products-container {
    margin-bottom: 40px;
    
  }
  
  .product {
   flex-wrap: wrap;
   justify-content: center;
   gap: 23px;
   margin: 30px 0 0;
  }
  
   .product-content {
    width: 100%;
    }
    
  .product-img {
    width: 100%;
  }
  
  .subtitle {
    font-size: 17px;
  }
  
  .articles-socials {
    margin-bottom: 45px;
  }
}

@media (max-width: 1200px) {
  .menu-burger { 
  display: block;
    margin-top: -5px;
    width: 24px;
    text-align: center;
  }
}
